<div class="container">

  <div class="head">
    <div class="left-ear"></div>
    <div class="right-ear"></div>
    <div class="eyes-mouth container">
    <div class="right-eye">
      <div class="pupil"></div>
    </div>
    <div class="left-eye">
      <div class="pupil"></div>
    </div>
    <div class="snout">
      <div class="nose"></div>
      <div class="tongue"></div>
      </div>
      </div>
  </div>

  <div class="collar"></div>
  <div class="collar-coin"></div>
  
  <div class="left-front-leg"></div>
  <div class="right-front-leg"></div>
  <div class="trunk"></div>
  <div class="back-legs"></div>
  <div class="tail"></div>

</div>
