<div class="container">

  <div class="sad-head">
    <div class="left-ear"></div>
    <div class="right-ear"></div>
    <div class="eyes-mouth container">
    <div class="sad-right-eye">
      <div class="pupil"></div>
    </div>
    <div class="sad-left-eye">
      <div class="pupil"></div>
    </div>
    <div class="sad-snout">
      <div class="nose"></div>
      <div class="mouth"></div>
      </div>
      </div>
  </div>

    <div class="sad-collar"></div>
    <div class="sad-coin"></div>

    <div class="sad-trunk">
      <div class="sad-tail"></div>
    </div>

  <div class="legs">
    <div class="sad-left-leg"></div>
    <div class="sad-right-leg"></div>
  </div>
</div>
