<!-- <%# unless @userchallenge.nil? %> -->


<% @challenges.each do |challenge| %>
  <%= challenge.name %><br>
  <%= form_for :user_challenge do |f| %>
    <div class="field">
      <%= f.hidden_field :challenge_id, value: challenge.id %>
    </div>
    <div class="actions">
      <%= f.submit "Accept"%>
    </div>
  <% end %>
<% end %>
