<!-- <% unless @userchallenge.nil? %> -->
<% form_for @userchallenge, url: {action: "create"} do |f| %>

<% @challenges.each do |c| %>
<div class="field">
  <%# f.label @user_id %>
  <%= f.hidden_field :user_id, value: @user_id %>
  <%# :user_id = @user_id %>
  <%# f.integer = @user_id %>
</div>

<div class="checkbox">
  <%= f.label c.name %>
  <%= f.checkbox :challenge_ids, {multiple: true}, 1, nil %>
</div>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
