<div class="userchalcontainer">

<% @challenges.each do |challenge| %>
   <div class="userchalrow">
   <div class="userchalitem"><%= challenge.name %></div>
  <%= form_for :user_challenge do |f| %>
    <!-- div class="field" -->
      <%= f.hidden_field :challenge_id, value: challenge.id %>
    <!-- /div -->
    <div class="actions userchalitem">
       <%= f.submit "Accept", class: 'btn btn-default' %>
    </div>
  </div>  <!-- end the row -->
  <% end %>
<% end %>

</div>
