.challenges-list-title {
  text-align: center;
  margin-top: 7rem;
}


.userchalcontainer {
  font-size: 2rem;
  display: flex;
  position: relative;
  border: solid 0px black;
  display: flex;
  flex-direction: column;
  margin-left: 52rem;
  margin-top: 5rem;
}

.userchalrow {
  border: solid 0px black;
  width: 100%;
}

.userchalrow:hover {
  background: #eddaef;
  width: 100%;
}

.userchalitem {
  float: left;
  border: solid 0px black;
  width: 25%;
  padding: 5px;
}
