.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 20rem;
  position: relative;

}

.left-ear {
  background-color: saddlebrown;
  height: 10rem;
  width: 10rem;
  position: relative;
  right: 5rem;
  bottom: 3rem;
  border-radius: 5rem 1.5rem;
/*   border: 1px solid black; */
}

.right-ear {
  background-color: saddlebrown;
  height: 10rem;
  width: 10rem;
  position: relative;
  left: 14.7rem;
  top: -13rem;
  border-radius: 1.5rem 5rem;
/*   border: 1px solid black; */
}

.head {
  background-color: tan;
  height: 19rem;
  width: 19rem;
  padding-top: 2.3rem;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  z-index: 100;
}

.right-eye {
  background-color: white;
  height: 6.8rem;
  width: 7rem;
  border-radius: 2.5rem;
  border: 0.15rem solid darkgrey;
  position: relative;
  left: 8.5rem;
  top: -20rem;
}

.left-eye {
  background-color: white;
  height: 6.8rem;
  width: 7rem;
  border-radius: 2.5rem;
  border: 0.15rem solid darkgrey;
  position: relative;
  left: -0.7rem;
  top: -20rem;
}

.pupil {
  background-color: black;
  height: 3.8rem;
  width: 30px;
  margin-top: 2em;
  border-radius: 25px;
  margin-left: 8px;
  margin-bottom: 4px;
}

.snout {
  background-color: saddlebrown;
  height: 5.7rem;
  width: 12rem;
  border-radius: 30px;
  position: relative;
  top: -13rem;
  right: 4.7rem;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nose {
  background-color: black;
  height: 2.4rem;
  width:  3rem;
  border-radius: 30px;
  position: relative;
  top: 0.5rem;
  left: 2.5rem;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tongue {
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  position: relative;
  top: 1.2rem;
  left: 3.2rem;
  animation-name: tongue-animation;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dex-body {
  position: relative;
}
.left-front-leg {
  background-color: tan;
  height: 12rem;
  width: 5.5rem;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  display: flex;
  position: relative;
  left: -16rem;
  top: 18rem;
  box-shadow: 0 17px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}

.right-front-leg {
  background-color: tan;
  height: 12rem;
  width: 5.5rem;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  display: flex;
  position: relative;
  left: -7rem;
  top: 6rem;
  box-shadow: 0 17px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trunk {
  background-color: tan;
  height: 8.5rem;
  width: 20rem;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  display: flex;
  position: relative;
  left: -12rem;
  top: -8rem;
  transform: rotate(-14deg);
}

.back-legs {
  background-color: tan;
  height: 11rem;
  width: 5.3rem;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  display: flex;
  position: relative;
  left: 3.4rem;
  top: -18rem;
  box-shadow: 0 17px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}


.tail {
  background-color: tan;
  height: 5.5rem;
  width: 2rem;
  border-top-right-radius: 85%;
  border-bottom-right-radius: 45%;
  position: relative;
  left: 6rem;
  top: -33rem;
  transform: rotate(10deg);
  animation-name: happy;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.collar {
  background-color: red;
  height: 1rem;
  width: 9rem;
  position: absolute;
  top: 18.5rem;
  left: -4rem;
  z-index: 100;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collar-coin {
  background-color: yellow;
  height: 2.4rem;
  width:  3rem;
  border-radius: 30px;
  position: absolute;
  top: 19.4rem;
  left: -1.5rem;
  z-index: 100;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes happy {
    from {transform: rotate(10deg);}
    to {transform: rotate(30deg);}
}

@keyframes tongue-animation {
    from { height: 2rem;}
    to { height: 1rem;}
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .head {
      background-color: tan;
      height: 19rem;
      width: 19rem;
      margin-top: 49rem;
      margin-left: 36rem;
      padding-top: 2.3rem;
      border-top-left-radius: 40%;
      border-top-right-radius: 40%;
      border-bottom-left-radius: 45%;
      border-bottom-right-radius: 45%;
      z-index: 100;
    }

    .trunk {
      background-color: tan;
      height: 8.5rem;
      width: 20rem;
      margin-top: 49rem;
      border-top-right-radius: 25%;
      border-top-left-radius: 25%;
      border-bottom-right-radius: 5%;
      border-bottom-left-radius: 5%;
      display: flex;
      position: relative;
      left: -12rem;
      top: -8rem;
      transform: rotate(-14deg);
    }

  .right-front-leg {
    background-color: tan;
    height: 12rem;
    width: 5.5rem;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    display: flex;
    position: relative;
    left: -7rem;
    top: 54rem;
    box-shadow: 0 17px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .left-front-leg {
    background-color: tan;
    height: 12rem;
    width: 5.5rem;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    display: flex;
    position: relative;
    left: -16rem;
    top: 66rem;
    box-shadow: 0 17px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: -1;
  }

  .collar {
    background-color: red;
    height: 1rem;
    width: 9rem;
    position: absolute;
    top: 67.5rem;
    left: 14rem;
    z-index: 100;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .collar-coin {
    background-color: yellow;
    height: 2.4rem;
    width: 3rem;
    border-radius: 30px;
    position: absolute;
    top: 68.4rem;
    left: 16.5rem;
    z-index: 100;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .dexter-button {
    display: flex;
    margin-top: 5rem;
    margin-left: 6rem;
  }

  .dexter-two {
    float: right;
    margin-right: -24rem;
    margin-top: 3rem;
  }
}
