// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ****** LOGIN / SIGN UP PAGE ******

.login-background {
  height: 100vh;
  width: 100vw;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  color: white;
  font-family: 'Patua One', cursive;
  position: relative;
  top: -48rem;
  left: 18rem;
  // padding-left: 30rem;
}

.join {
  font-family: 'Patua One', cursive;
  color: white;
  position: relative;
  top: -59.7rem;
  right: -92rem;
}

// .footer {
//   background-color: #090909;
//   width: 100vw;
//   height: 25rem;
//   position: relative;
//   top: 70rem;
// }

// ****** END LOGIN / SIGN UP PAGE ******

// *************** MODAL *********************


.login-button button {
  background-color: transparent;
  font-family: 'Patua One', cursive;
  border: none;
  color: white;
  width: 10.3rem;
  height: 5rem;
  font-size: 2rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}

.login-button {
  position: relative;
  bottom: 47rem;
  left: 23rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: white;
  height: 5rem;
  width: 9rem;
  // padding-left: 1.5rem;
  // padding-right: 3.5rem;
  padding-top: .5rem;

}

.logout-button button {
  background-color: transparent;
  font-family: 'Patua One', cursive;
  border: none;
  color: white;
  width: 10.3rem;
  height: 5rem;
  padding-right: 1rem;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

.logout-button {
  position: relative;
  top: -58.7rem;
  left: 76vw;
  border-style: solid;
  border-width: 0.5rem;
  border-color: white;
  height: 5rem;
  width: 10.3rem;
  padding-top: .5rem;
}
.log-buttons {
    color: white;
    font-family: 'Patua One', cursive;
    font-size: 2rem;
    text-decoration: none;
}

.modal-header {
    padding: 15px;
    background-color: rgb(14,14,14);
    border: none;
}

.modal-title {
  color: #191919;
  margin: 0;
  line-height: 1.42857143;
  font-family: 'Patua One', cursive;
}

.welcome-back {
  color: white;
  font-family: 'Patua One', cursive;
  text-align: center;
  font-size: 4rem;
}

.modal-body {
  background-color: rgb(14,14,14);
  border: none;
}

.modal-footer {
  background-color: rgb(14,14,14);
  border: none;
}

.submit-signin {
  background-color: transparent;
  font-family: 'Patua One', cursive;
  border: none;
  color: white;
  width: 10.3rem;
  height: 5rem;
  font-size: 2rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  left: 13rem;
  border-style: solid;
  border-width: 0.5rem;
}

.cancel-signin {
  background-color: transparent;
  font-family: 'Patua One', cursive;
  border: none;
  color: white;
  width: 10.3rem;
  height: 5.3rem;
  font-size: 2rem;
  padding-right: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  position: relative;
  left: 23rem;
  border-style: solid;
  border-width: 0.54rem;
  text-align: center;
}

.modal-content {
  background-color: rgb(14,14,14);
}


// *** SIGN UP **

.signup-head {
  color: white;
  font-family: 'Patua One', cursive;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.form-group {
  color: white;
  font-weight: lighter;
}

.signup-submit {
  background-color: transparent;
  font-family: 'Patua One', cursive;
  border: none;
  color: white;
  width: 10.3rem;
  height: 5rem;
  font-size: 2rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  left: 13rem;
  top: 1.5rem;
  border-style: solid;
  border-width: 0.5rem;
}

.signup-cancel {
  background-color: transparent;
  font-family: 'Patua One', cursive;
  border: none;
  color: white;
  width: 10.3rem;
  height: 5.3rem;
  font-size: 2rem;
  padding-right: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  position: relative;
  left: 23rem;
  top: 1.5rem;
  border-style: solid;
  border-width: 0.54rem;
  text-align: center;
}

// ************* END MODAL **********************


.userchalcontainer {
  display: flex;
  position: relative;
  border: solid 0px black;
  display: flex;
  flex-direction: column;
}

.userchalrow {
  border: solid 0px black;
  width: 100%;
}

.userchaltitle {
  border: solid 0px black;
  width: 100%;
}

.userchalrow:hover {
  background: #adf3f7;  /* #eddaef; */
  width: 100%;
}

.userchalitem {
  float: left;
  border: solid 0px black;
  width: 25%;
  padding: 5px;
}

.userchalitem2 {
  float: left;
  border: solid 0px black;
  width: 10%;
  padding: 5px;
}


.stepscontainer {
  display: flex;
  position: relative;
  border: solid 0px black;
  display: flex;
  flex-direction: column;
}

.stepsrow {
  border: solid 0px black;
  width: 100%;
}

.stepstitle {
  border: solid 0px black;
  width: 100%;
}

.stepsrow:hover {
  background: #adf3f7;  /* #eddaef; */
  width: 100%;
}

.stepsitem {
  float: left;
  border: solid 0px black;
  width: 10%;
  padding: 5px;
}

.stepsitem2 {
  float: left;
  border: solid 0px black;
  width: 20%;
  padding: 5px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightskyblue;
}

.grass {
  position: fixed;
  width: 100%;
  height: 60rem;
  left: 0rem;
  bottom: 0rem;

}

.dexter-button {
  display: flex;
  margin-top: 5rem;
  margin-left: 5rem;
}

.dexter-one {
    margin-top: 1rem;
    margin-left: 2rem;
}

.dexter-two {
  float: right;
  margin-right: 3rem;
  margin-top: 1rem;
  color: white;
  text-decoration: none;
}

.dexter-img img {
  display: block;
  margin: 0 auto;
  margin-top: 16rem;
  margin-right: 63rem;
}

.dexter-button a{
  display: flex;
}

.dexter-button a:visited {
  color: #fff;
}

.dexter-button a:hover {
  color: #fff;
  background: rgba(255,255,255, 0);
  text-decoration: none;
}

.challenge-header {
  position: relative;
  top: -1rem;
  left: 56rem;
}

.challenge-links {
  position: fixed;
  top: 12rem;
  left: 3.6rem;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.dexter-two {
    float: right;
    margin-right: -26rem;
    margin-top: 3rem;
    font-size: 3.5rem;
  }

.dexter-one {
  margin-top: 8rem;
  margin-left: 3rem;
  font-size: 4rem;
  }

.top-button {
    margin-top: 11rem;
    margin-left: 3rem;
}
  // .dexter-button {
  //   display: flex;
  //   margin-top: 5rem;
  //   margin-left: 5rem;
  // }
  //
  // .top-button {
  //   margin-top: 9rem;
  //   margin-left: 2rem;
  // }
}
