// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splashlogin {
width: 60%;
border: solid 1px #47495e;
border-radius: 8px;
background-color: #e0e2f7; /* #d5d5d5; */
padding: 30px;
box-shadow: 7px 9px 5px #d1d6d6;
}

#inner {
    width: 50%;
    margin: 0 auto;
}

#outter {
    width: 100%;

}

#outter-dexter {
    width: 430px;
    background-color: #c6b6c7;
    border-radius: 3px;
}

.row {
  display: flex;
  float:left;
}

.dexter-button {
  vertical-align: center;
  padding-top: 8px;
  border: solid 1px black;
  margin: 20px 0 0 30px;
}

.dexter-one {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  padding: 8px;
  border: solid 1px black;
  margin: 20px 0 0 0;
}

.dexter-two {
  width: 150px;
  padding: 8px;
  border: solid 1px black;
  margin: 20px 0 0 0
}
.plusbutton {
  font-size: 150%;
}

.spacing {
  margin-bottom: 10px;
}
