// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splashlogin {
border: solid 1px #47495e;
border-radius: 8px;
background-color: #e0e2f7; /* #d5d5d5; */
padding: 30px;
/* box-shadow: 7px 9px 5px #d1d6d6; */
}

#inner {
    width: 90%;
    margin: 20px auto;
}

#outter {
    width: 100%;

}

body {
  background-color: #c6b6c7;
}

.login-button {
  position: absolute;
  top: 40vh;
  left: 41.8vw;
}

.logout-button {
  position: absolute;
  top: 40vh;
  left: 47.8vw;
}

.dexter-button {
  position: absolute;
  top: 5em;
  left: 2.4em;
}

.dexter-one {
 position: relative;
 top: 5.6em;
 left: 6.5em;

}

.dexter-two {
  position: relative;
  top: 2em;
  right: 3em;
}

.dexter-img {
  position: relative;
  top: 21vh;
  left: 41.7vw;
}

/* iphone 4 size */
// #outter-dexter {
//     position: fixed;
//     width: 320px;
//     height: 480px;
//     background-color: #c6b6c7;
//     border-radius: 3px;
// }
//
// .row {
//   display: flex;
//   float:left;
// }
//
// .dexter-button {
//   vertical-align: center;
//   padding-top: 8px;
//   border: solid 0px black;
//   margin: 25px 0 0 30px;
// }
//
// .dexter-one {
//   font-size: 20px;
//   display: inline-block;
//   vertical-align: middle;
//   width: 170px;
//   padding: 8px;
//   border: solid 0px black;
//   margin: 25px 0 0 0;
// }
//
// .dexter-two {
//   position: absolute;
//   left: 160px;
//   top: 4px;
//   width: 150px;
//   padding: 8px;
//   border: solid 0px black;
//   margin: 0 0 0 0
// }
// .plusbutton {
//   font-size: 150%;
// }
//
// .spacing {
//   margin-bottom: 10px;
// }
//
// scrollingthing {
//   height: 600px;
//   overflow-y: scroll;
//   position: relative;
// }
