body {
  background-color: skyblue;
}

#holder  {
  background-color: white;
  position: relative;
  top: -40rem;
  left: 41rem;
  width: 44rem;
  height: 60rem;
  border-radius: 10%;
  opacity: .7;
}

.signup-banner {
  background-color: pink;
  position: relative;
  left: -7.5rem;
  top: -1rem;
  width: 49rem;
  height: 6rem;
  border-radius: 10%;
}

.signup-head {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.7rem;
  border-radius: 15%;
}

.style_image {
  position: relative;
  left: -7rem;
  top: 29rem;
}

.login-table {
  width: 33rem;
  position: relative;
  top: 5rem;
  left: 5rem;
}
