.userchalitem {
  position: relative;
  left: 11rem;
  border: solid 0px black;
  width: 25%;
  font-size: 2.5rem;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  padding-right: 32rem;
}

.userchalitem2 {
  float: left;
  border: solid 0px black;
  width: 10%;
  padding: 5px;
}


.stepscontainer {
  display: flex;
  position: relative;
  border: solid 0px black;
  display: flex;
  flex-direction: column;
}

.stepsrow {
  border: solid 0px black;
  width: 100%;
}

.stepstitle {
  border: solid 0px black;
  width: 100%;
}

.stepsitem {
  float: left;
  border: solid 0px black;
  width: 10%;
  padding: 5px;
}

.stepsitem2 {
  float: left;
  border: solid 0px black;
  width: 20%;
  padding: 5px;
}
